streamlit
PyPDF2
google.generativeai
python-dotenv
langchain
chromadb
pdf2image
faiss-cpu
langchain_google_genai
openpyxl
opencv-python
pillow
docx2txt 
psutil
xlrd
lxml
seaborn
cufflinks
chart_studio
nbformat
geopandas
flask
flask_cors
selenium
pymongo
bs4
requests
PyPDF2
pandas
numpy
django
scipy
statsmodels
scikit-learn
dask
xlsxwriter
dtale
pandas_profiling
ydata_profiling
sweetviz
DataPrep
bs4
selenium

